.container{
    background-color: black;
    color:white;
    margin: 0px;
    padding: 0px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky; */

}
div{
    color: white;
    margin: 10px;

}

a:hover{
    color: yellow;
}
a{
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: 30px;

}

p{
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Roboto', sans-serif; */

}


.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* left: -50px; */
    position: relative;
}
