.container{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.canvas {
    flex: 1;
    width: 100%;
    min-width: 300px;
    display: flex;
}
  .grid-canvas {
    border: 5px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
}
.buttons{
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}
.btn{
    border-radius: 5px;
    margin: 5px;
}
.start:hover{
    background-color: rgb(182, 251, 182);
}
.start{
    background-color: rgb(130, 255, 130);
    border: 3px solid rgb(0, 108, 0);
}
.start.mat-mdc-button:not(:disabled) {
    color:rgb(0, 108, 0);
}
.reset:hover{
    background-color: rgb(255, 165, 165);
}
.reset{
    background-color: rgb(255, 135, 135);
    border: 3px solid rgb(130, 0, 0);
}
.reset.mat-mdc-button:not(:disabled) {
    color:rgb(130, 0, 0);
}
.random:hover{
    background-color: rgb(169, 234, 255);
}
.random{
    background-color: lightblue;
    border: 3px solid rgb(0, 97, 129);
}
.random.mat-mdc-button:not(:disabled) {
    color: rgb(0, 97, 129);
}
.rainbow:hover{
    border: 3px solid rgb(0, 108, 0);
}
.rainbow{
    width: 120px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.opt-buttons{
    padding: 5px;
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.options{
    position: relative;
    margin-right: 50px;
    outline: 3px solid black;
    box-shadow: 0 10px 15px black;
    border-radius: 8px;
}
.path, .visit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
button{
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
}
input {
  justify-content: center;
  align-items: center;
  margin: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input::-webkit-color-swatch {
  border-radius: 100%;
  border: 1px solid black;
}
input::-moz-color-swatch {
  border-radius: 100%;
  border: 1px solid black;
}
.cover{
  background-color: white;
  position: absolute;
  z-index: 9999;
  right: -4px;
  height: 50px;
  width: 250px;
}
label{
  font-family: 'Quicksand', sans-serif;
  font-weight: 1000;
}
@media screen and (max-width:768px){
  .body{
    display: flex;
    flex-direction: column;
  }
  .options{
      margin-bottom: 10px;
      box-shadow: none;
  }
    .grid-canvas {
      max-width: 768px;
      max-height: 450px;
    }
}