.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    /* padding-bottom: 30px; */
}
.canvas {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .grid-canvas {
    border: 5px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
  }
.buttons{
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

button:hover{
    border: 2px solid black;
}

.start{
    background-color: lightgreen;
    border-radius: 5px;
    margin: 5px;

}

.reset{
    background-color: red;
    border-radius: 5px;
}
.random{
    background-color: lightblue;
    border-radius: 5px;
    margin: 5px;
}
.rainbow{
    border-radius: 5px;
    width: 120px;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

mat-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.opt-buttons{
    padding: 5px;
    position: relative;
    /* border: 3px solid black; */
    width: 250px;
    justify-content: center;
    align-items: center;
    /* max-width: 100%; */
}
.options{
    position: relative;
    margin-right: 20px;
    outline: 3px solid black;
    box-shadow: 0 10px 15px black;
    border-radius: 8px;
    left: -50px;

}
input{
    padding: 1px;
    margin: 10px;
}
label{
    margin: 2px;
    padding: 3px;
}
button{
    padding: 5px;
    margin: 5px;
    font-size: 14px;
}
.slider-div{
    padding: 10px;
}