<div class="container">
  <div class="body">
    <div class="options">
      <div class="opt-buttons">
        <div class="visit">
        <input type="color" id="visited" name="node"
            value="#ffff00" 
            [ngStyle]="{
              'display' : rainbow ? 'none' : 'block'
              }">
        <label for="visited"
        [ngStyle]="{
          'display' : rainbow ? 'none' : 'block'
          }"
        >Visited Node Color</label>
        </div>
        <div class="path">
        <input type="color" id="Path" name="path"
            value="#ff00fb">
        <label for="path">Path Color</label>
        </div>
        
      </div>
      <div class="buttons"> 
        <button class="btn start" mat-button (click)="runDijkstra()">
            Start
          </button>
        <button class="btn reset" mat-button (click)="reset()">
          Reset
        </button>
        <button class="btn random" mat-button (click)="randomize()">
          Random Layout
        </button>
        <button class="btn rainbow" mat-button (click)="rainbowToggle()"
            [ngStyle]="{
              'background-color' : rainbow ? 'pink' : 'yellow',
              'color' : rainbow ? 'rgb(147, 0, 24)' : 'rgb(103, 103, 0)',
              'border': rainbow ? '3px solid rgb(147, 0, 24)' : '3px solid rgb(103, 103, 0)'
              }">
            {{ rainbow ? 'Regular Colors' : 'Random Colors' }}
        </button>
      </div>
      <!-- <div class="slider-div">
      Pathfinding Speed 
      <mat-slider class="slider" min="1" max="100" step="1" showTickMarks discrete [displayWith]="delayChange">
        <input matSliderThumb>
      </mat-slider>
      </div> -->
    </div>
    <div class="canvas">
        <canvas height="160" width="780" class= "grid-canvas" #canvas tabindex="0" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)"></canvas>
    </div>
  </div>
</div>
