<div class="container">
    <div class="text">
        <h1>How does this Work?</h1>
        <p>
            This project utilizes Dijkstra's Algorithm to find the shortest path from the Start node to the End node.
            <br>
            <br>
            The Start node is represented by a <span class="start">green</span> node, and the End node is represented by a <span class="end">red</span> node. 
            You can easily move these nodes around by clicking and dragging them.
            <br>
            <br>
            To draw walls, click and drag your mouse on any open node to create a line of black walls. If you want to erase a wall
            click on the desired wall, you can click and drag to delete multiple walls.
            These walls are taken into account when calculating the shortest path.
            <br>
            <br>
            To find the shortest path, simply click the Start button. If you want to reset the board and clear all nodes, click the Reset button. To 
            generate a grid with randomized walls, click the Random Layout button.
            You also have the option to change the colors of both the visited nodes and the path drawn.
        </p>
    </div>
    <div class="gifs">
        <div class="how-to-div">
            <img class="how-to" src="assets/how-to-updated2.gif" alt="How to use GIF"  width="360" height="300" />
        </div>
        <div class="path-div">
            <img class="path" src="assets/Pathfind.gif" alt="Pathfind GIF"  width="360" height="300" />
        </div>
        </div>  
</div>
