<div class="container">
    <div class="text">
        <h1>Welcome to my project!</h1>
        <p>
            This project utilizes Dijkstra's Algorithm to find the shortest path from the <span class="start">Start</span> node to the <span class="end">End</span> node.
            <br>
            <br>
            The <span class="start">Start</span> node is represented by a green node as seen on the right, and the <span class="end">End</span> node is represented by a red node. 
            You can easily move these nodes around by clicking and dragging them.
            <br>
            <br>
            To draw walls, click and drag your mouse on any open node to create a line of black walls. If you want to erase a wall
            click on the desired wall, you can click and drag to delete multiple walls.
            These walls are taken into account when calculating the shortest path.
            <br>
            <br>
            To find the shortest path, simply click the Start button. You can reset the board and generate new Start and End nodes by clicking the reset button, 
            or generate a grid with randomized walls by clicking the randomize button.
            <br>
            <br>
            You also have the option to change the colors of both the visited nodes and the path drawn.
        </p>
        <!-- <p>
            This project uses Dijkstras Algorithm to find the shortest path from the <span class="start">Start</span> node to the <span class="end">End</span> node.
            <br>
            <br>
            In this project you have a <span class="start">Start</span> node which is represented by the green node to your right, and an <span class="end">End</span> node
            which is represented by the red node.
            To move these nodes around, simply click on the nodes and drag them around to your desired location.
            <br>
            <br>
            If you want to draw a wall, click on any open node and drag your mouse to draw a line of walls. Walls are represented
            by the black nodes. These walls are taken into account when finding the shortest path!
            <br>
            <br>
            To find the shortest path, simply click the Start button along the top of the screen.
            To reset the board and generate new start/end nodes, click the reset button.
            To generate a grid with randomized walls, click the randomize button!
        </p> -->

    </div>
    <div class="gifs">
        <div class="how-to-div">
            <img class="how-to" src="assets/how-to-updated2.gif" alt="How to use GIF"  width="360" height="300" />
        </div>
        <div class="path-div">
            <img class="path" src="assets/Pathfind.gif" alt="Pathfind GIF"  width="360" height="300" />
        </div>
        </div>  
</div>
