.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding-bottom: 30px;
    overflow: auto;
  }
  
  .text {
    border: 2px solid #ddd;
    position: relative;
    padding: 30px;
    /* left: -150px; */
    top: 10px;
    max-width: 650px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  p {
    font-size: 1.25rem;
    font-weight: 00;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .start {
    color: green;
    font-weight: bold;
  }
  
  .end {
    color: red;
    font-weight: bold;
  }

  .how-to-div {
    margin: 20px;
    /* right: -150px; */
    /* top: -20px; */
    /* position: relative; */

  }
  .path-div{
    margin: 20px;
    /* bottom: -20px; */
    /* position: relative; */

  }
  .path{
    border: 3px solid black;
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .how-to {
    border: 3px solid black;
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  .gifs{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin-left: 100px;
    /* right: -100px; */
  }