<div class="container">
    <h1 >Mobile Device Detected!</h1>
    <p>
        Unfortunately, the grid drawing feature does not perform optimally on mobile devices, and as a result, all canvas touch controls have been disabled.
        <br>
        <br>
        To explore the functionality of this project on mobile devices, you can use the 'Randomize Layout' button to generate a grid and find a path. For a full drawing experience, it is recommended to visit this site on a computer.</p>
    <div class="buttons">
        <button mat-dialog-close (click)="dismissMobileMessage()">Close, and don't show again</button>
    </div>
</div>