<div class="container">
    <h1 >Mobile Device Detected!</h1>
    <p>
        Unfortunately, the grid drawing feature does not perform optimally on mobile devices, and as a result, the canvas drawing controls have been disabled. To explore the functionality of this project on mobile devices, you can use the 'Randomize' button to generate a grid and find a path. For a full drawing experience, it is recommended to visit this site on a computer.</p>
    <div class="buttons">
        <button mat-dialog-close >Close</button>
        <button mat-dialog-close (click)="dismissMobileMessage()">Close, and don't show again</button>
    </div>
</div>