/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    overscroll-behavior: auto;
    background: var(--color-bg-header);
    height: 100%;
    display: flex;
}

app-root{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
app-footer{
    margin-top: auto;
}

html{
    height: 100%;
}